{{!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fac. MJ </a>&reg;
</nav> --}}

<!-- Footer -->
<div class="text-center p-4" >
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://drive.google.com/file/d/1hg2pNxQ-BMyh79Fg9zGD72OrxcySTMx8/view?usp=sharing">Inc. Facturación MJ</a>
  </div>

<!-- Footer -->